# sudo MySQL credentials (used only to run db/setup.sql once, to create the
# database and the app-specific MySQL user below)
SUDO_MYSQL_USERNAME=root
SUDO_MYSQL_PASSWORD=change_me

# app MySQL connection details (the user created by db/setup.sql)
MYSQL_HOSTNAME=localhost
MYSQL_USERNAME=user_pcmgmt
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=pcmgmt

# admin auth
ADMIN_PASSWORD_HASH=change_me
SESSION_SECRET=change_me


